.post-item{
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    background: white;
    border: 1px solid #C7C7C7;
    .top{
        display: flex;
        flex-direction: row;
        gap: 16px;
        .user-image{
            width: 48px;
            height: 48px;
            border-radius: 5px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #418BEC;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .alt{
                font-weight: 500;
                font-size: 24px;
                color: #FFFFFF;
            }
        }
        .user-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
            .name{
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
            }
            .details{
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #6A6A6A;
            }
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 16px;
        .title{
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
        }
        .description{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
        .images{
            display: flex;
            flex-direction: row;
            gap: 16px;
            // flex-wrap: wrap;
            justify-content: space-between;
            .img{
                // width: 200px;
                // height: 200px;
                max-height: 400px;
                flex-grow: 1;
                overflow: hidden;
                border-radius: 16px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .bottom{
        display: flex;
        flex-direction: row;
        &>div{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;

            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
            i{
                cursor: pointer;
            }
            &.likes i {
                content: url('../../assets/images/like.png');
            }
            &.dislikes i {
                content: url('../../assets/images/dislike.png');
            }
            &.comments i {
                content: url('../../assets/images/comment.png');
            }
        }
    }
}