#question{
    .content{
        display: flex;
        flex-direction: column;
        gap: 8px;
        .question{
            padding: 24px;
            background: #FFFFFF;
            border: 1px solid #BABCBE;
            
            display: flex;
            flex-direction: column;
            gap: 24px;
            .info{
                display: flex;
                flex-direction: column;
                gap: 8px;
                .title{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    color: #000000;
                }
                .answer-count{
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #6A6A6A;
                }
                .date{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: #606367;
                }
            }
            .answer-btn{
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #3D4043;  
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;
                i{
                    content: url('../../assets/images/answer-btn.png');
                }              
            }
        }
        .answers{
            padding: 20px 24px 48px;
            background: #FFFFFF;
            border: 1px solid #BABCBE;
            display: flex;
            flex-direction: column;
            gap: 24px;
            .top{
                padding: 0 12px 12px;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                color: #000000;
                border-bottom: 1px solid #C7C7C7;
            }
            
        }
    }   
}